@model AnywhereBannerModel
@{
    Layout = "_adminLayout";
    //page title
    ViewBag.PageTitle = T("Nop.Widgets.AnywhereBanner.Areas.Admin.AnywhereBanner.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("AnywhereBanner");
}

<form asp-controller="AnywhereBanner" asp-action="Create" method="post" id="anywherebanner-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Nop.Widgets.AnywhereBanner.Areas.Admin.AnywhereBanner.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Nop.Widgets.AnywhereBanner.Areas.Admin.AnywhereBanner.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>