@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
    var returnUrl = Context.Request.Query["returnUrl"];
}
@section left
{
    @await Component.InvokeAsync(typeof(CustomerNavigationViewComponent), new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

@section PageTitle
{
<div class="page-title-top">
    <div class="container">
        <div class="page-title">
            <h1>@T("Account.MyAccount")</h1>
        </div>
    </div>
</div>
}

<div class="page account-page change-password-page">
    <div class="page-title-sub">
        <h2>@T("Account.ChangePassword")</h2>
    </div>
    <div class="page-body form-ui">
        <form asp-route="CustomerChangePassword" method="post" autocomplete="off" asp-route-returnurl="@returnUrl">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="lab-req">
                                    <label asp-for="OldPassword"></label>
                                    <nop-required />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input class="form-control" asp-for="OldPassword" />
                                <span asp-validation-for="OldPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inputs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="lab-req">
                                    <label asp-for="NewPassword"></label>
                                    <nop-required />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input class="form-control" asp-for="NewPassword" />
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inputs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="lab-req">
                                    <label asp-for="ConfirmNewPassword"></label>
                                    <nop-required />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input class="form-control" asp-for="ConfirmNewPassword" />
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="buttons">
                        <button type="submit" class="button-1 change-password-button btn btn-primary">@T("Account.ChangePassword.Button")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
