@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page hide-header-footer");
}

<div class="page password-recovery-page">
    <div class="container">
        <div class="form-flex">
            <div class="min-flex">
                <div class="single-logo">
                    @await Component.InvokeAsync(typeof(LogoViewComponent))
                </div>
                <div class="page-body box">
                    <h2>@T("Account.PasswordRecovery")</h2>
                    <form asp-route="PasswordRecovery" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="inputs">
                                    <div class="lab-req">
                                        <label asp-for="Email"></label>
                                        <nop-required />
                                    </div>
                                    <input asp-for="Email" class="email form-control" />
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <nop-captcha />
                            }
                        </div>

                        <div class="buttons mb-0">
                            <button type="submit" name="send-email" class="button-1 password-recovery-button btn-block btn btn-primary">@T("Account.PasswordRecovery.RecoverButton")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>