@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderBefore })
<div class="header-upper">
    <div class="container">
        <div class="upper-flex">
            <div>@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderMiddle })</div>
            <div class="right-flex">
                <div class="header-selectors-wrapper">
                    @await Component.InvokeAsync(typeof(TaxTypeSelectorViewComponent))
        	    @await Component.InvokeAsync(typeof(CurrencySelectorViewComponent))
	            @await Component.InvokeAsync(typeof(LanguageSelectorViewComponent))
	            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderSelectors })
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="header header-sticky">    
    <div class="container">
        <div class="header-lower">
            <div class="header-logo">
                @await Component.InvokeAsync(typeof(LogoViewComponent))
            </div>
            <div class="search-box store-search-box">
                @await Component.InvokeAsync(typeof(SearchBoxViewComponent))
            </div>            
            <div class="header-links-wrapper">
                @await Component.InvokeAsync(typeof(HeaderLinksViewComponent))                
            </div>
        </div>
    </div>
</div>
<div class="drawer__overlay toggle-cart"></div>
@await Component.InvokeAsync(typeof(FlyoutShoppingCartViewComponent))
