<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/custom-style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.css">
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <main class="carrier-pg">
        <style>
            .carrier-pg .main-cardbox header {
                width: 100%;
            }

                .carrier-pg .main-cardbox header .logo-area, .carrier-pg .main-cardbox header .address-area {
                    vertical-align: top;
                }

                .carrier-pg .main-cardbox header .logo-area {
                    width: 80%;
                    max-width: calc(100% - 295px);
                    text-align: right;
                }

                    .carrier-pg .main-cardbox header .logo-area img {
                        width: 174px;
                        max-width: 50%;
                    }
        </style>
        <div class="carrier-bg-area">
            <div class="main-cardbox">
                <header>
                    <div class="address-area">
                        <p>
                            207 Atlantic Ave
                            Waxahachie, Texas, 75165
                            <br>
                            <strong>Phone:</strong>650-410-3207<br>
                            <strong>Email:</strong><a href="mariano@freightconnectlogistics.com">mariano@freightconnectlogistics.com</a>
                        </p>
                    </div>
                    <div class="logo-area">
                        <img src="assets/img/Logo-STT.png">
                    </div>
                </header>
                <main class="carrier-body-area">
                    <dl>
                        <dt>Order #</dt>
                        <dd>
                            <p>
                                This <strong>Agreement</strong> dated <input asp-for="BCASignDate" type="text" id="BCASignDate" style="width:60px;" />, <input type="text" id="BCASignYear" asp-for="BCASignYear" style="width: 50px;" />, between Freight connect
                                Logistics a Registered Property Broker, hereinafter referred to as
                                <strong>BROKER</strong>, and <input type="text" id="CarrierName" asp-for="CarrierName" style="width: 120px;" />, hereinafter referred to as
                                CARRIER With principal Address of: <input type="text" id="CarrierAddress" asp-for="CarrierAddress" style="width: 300px;" />.
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>WITNESSETH:</dt>
                        <dd>
                            <ul>
                                <li><strong>CARRIER</strong> is a motor carrier of property authorized by <strong>MC:</strong><input type="text" id="MC" asp-for="MC" style="width: 50px;" />(a copy of which is attached here and made a part hereof) to provide transportation of property under contract with shippers and receivers of general commodities, and</li>
                                <li><strong>BROKER</strong> is a motor carrier broker, licensed to arrange for the transportation of property by License No. <strong>MC:68205</strong> (a copy of which licenses is attachedhereto and made a part hereof), and controls the transportation of the commodities to be tendered to CARRIER.</li>
                            </ul>
                        </dd>
                    </dl>
                    <p>
                        <strong>NOW, THEREFORE</strong>, for good and valuable consideration, the Parties agree as follows:
                    </p>
                    <dl>
                        <dt>1. TERM</dt>
                        <p>The term of this Agreement (“Term”) shall be one (1) year, commencing on the Effective Date, and such Term shall automatically renew for successive one year periods, unless terminated by either Party. Either Party may terminate this Agreement on 30-days prior written notice, to the other Party, without cause, or as otherwise provided in this Agreement. Either Party may terminate this Agreement immediately upon written notice to the other Party for any breach of this Agreement.</p>
                    </dl>
                    <dl>
                        <dt>2. CARRIER’S COVENANTS</dt>
                        <p>In performing the Services, CARRIER agrees that it shall, at all times during the Term, and at its own expense, comply with the following covenants:</p>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                            <ul>
                                <li>
                                    CARRIER shall provide a sufficient number of drivers, with enough available hours of service, to pick up and deliver
                                    the tendered load(s) within the time frame(s) requested by BROKER and/or its CUSTOMERS, without violating the
                                    FMCSA hours of service regulations, set forth in 49 C.F.R. § 395.3, or any other Laws (defined below);
                                </li>
                                <li>
                                    CARRIER shall maintain knowledge of and compliance with all federal, state, and local laws and regulations related
                                    to the Services (“Laws”), including, without limitation, those laws and regulations related to the transportation of Hazardous Materials, as defined in 49 C.F.R. §§ 172.800, .173, and .397; security; owner/operator lease and lease agreements; loading and securing of freight; implementation and maintenance of driver safety programs (including, without limitation, hiring, controlled substances, and hours-of-service requirements); sanitation, temperature, and contamination requirements for transporting food, perishable, and other products; qualifying, licensing, and training of drivers; implementation and maintenance of equipment safety regulations; environmental or emissions programs in areas in which CARRIER operates, including, without limitation, California Transport Refrigeration Unit (TRU) and Airborne Toxic Control Measure (ATCM); and maintenance and exclusive control of the means and method of transportation, including, without limitation, performance of its drivers and all applicable insurance Laws. CARRIER certifies that any TRU equipmentfurnished will be in compliance with the in-use requirements of all of California’s TRU regulations. CARRIER will be responsible for any and all fines assessed against any party, including BROKER and CUSTOMERS, for CARRIER’s failure to adhere, in whole or in part, to any ARB/ACTM regulation or any other Laws. <strong>
                                        BROKER is an equal opportunity employer and federal contractor; thus, if CARRIER provides Services subject to a federal contract, then CARRIER agrees that, to the extent applicable: (1) CARRIER will comply with the following laws, which are incorporated herein by reference:
                                        Executive Order 11246,Executive Order 13496 (29 CFR Part 471, Appendix A to Subpart A), relating to the notice of employee rights under federal labor laws, 41 CFR § 60-300.5(a), and 41 CFR § 60-741.5(a); and (2) CARRIER and its subcontractors shall abide by the requirements of 41 CFR § 60-300.5(a) and 41 CFR § 60-741.5(a). These regulations prohibit discrimination against qualified protected veterans and qualified individuals on the basis of disability and require affirmative action by covered prime contractors and subcontractors to employ and advance in employment qualified protected veterans and qualified individuals with disabilities.
                                    </strong>
                                </li>
                                <li>CARRIER shall perform the Services with the highest quality of professional skill and care demanded in the transportation industry, with due diligence, and in the best interest of and to the satisfaction of BROKER and CUSTOMERS, each of which shall be determined by BROKER in its sole discretion.</li>
                                <li>
                                    CARRIER bears the ultimate and exclusive responsibility to
                                    manage, govern, discipline, direct, and control its employees, agents,
                                    contractors, owner/operators, leasees, and equipment in compliance
                                    with all Laws. CARRIER and BROKER agree that the safe, legal, and
                                    proper operation of the CARRIER and its drivers shall supersede any
                                    requests, demands, preferences, instructions, or information provided
                                    by BROKER or CUSTOMERS with respect to any shipment; and if
                                    any employee of BROKER or CUSTOMERS requests,demands, or
                                    instructs CARRIER to do any act in violation of any Laws, CARRIER
                                    shall immediately contact BROKER.

                                </li>
                                <li>
                                    CARRIER shall notify BROKER immediately if its Operating Authority is revoked, suspended, downgraded, negatively affected, or rendered inactivefor any reason, and/or if CARRIER or any related entity is sold, rights or interests assigned, if there is a change in control of ownership, and/or any insurance required by this Agreement is threatened to be or is terminated, cancelled, suspended, or revoked for any reason. If CARRIER performs any Services without proper Operating Authority, then it shall defend,indemnify, and hold BROKER, CUSTOMERS, and related parties harmless under the terms of Section 10 of this Agreement.
                                </li>
                                <li>
                                    CARRIER authorizes BROKER to invoice CARRIER’s freight charges to shippers, consignees, or third-parties responsible for payment.
                                </li>
                                <li>
                                    Any terms of the bill of lading (including, without limitation,
                                    payment terms, limitations of liability, and stamped terms) or
                                    CARRIER’s tariffs or circulars that are inconsistent with either the
                                    terms of this Agreement or any agreement between BROKER and
                                    CUSTOMERS are superseded by and shall be controlled by the terms of this Agreement.

                                </li>
                                <li>
                                    CARRIER is bound by any agreement entered into between
                                    BROKER and CUSTOMERS related to the loads. If CARRIER agrees
                                    to perform Services on any loads that involve the transportation of
                                    intermodal containers or trailers that are not owned by CARRIER,
                                    then CARRIER is fully responsible and liable for (i) ensuring that the
                                    container, trailer, and chassis are suitable for transport, including,
                                    without limitation, checking the brakes and tires of the trailer or
                                    chassis and properly securing containers to chassis; (ii) any loss or
                                    damage to the container, trailer, and chassis while in CARRIER’s
                                    possession or control; and (iii) complying with any Laws, rail carrier
                                    tariffs or circulars, and agreements related to the container or trailer.


                                </li>
                                <li>
                                    CARRIER agrees that this Agreement applies to any load tendered
                                    directly to CARRIER by BROKER, as well as any load which CARRIER
                                    knows or should have known involved BROKER.

                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>3. BROKER’S COVENANTS</dt>
                        <p>
                            BROKER warrants and represents that it has
                            authority to tender its CUSTOMERS’ freight for transportation under
                            this Agreement.

                        </p>
                    </dl>
                    <dl>
                        <dt>4. COMPENSATION</dt>
                        <p>
                            CARRIER agrees to perform the Services for
                            BROKER, under CARRIER’s Operating Authority exclusively,
                            at a rate mutually agreed upon in writing in a Freight Connect
                            Logistics Rate Confirmation (“Rate Confirmation”), which shall
                            be incorporated into this Agreement, or by Electronic
                            Communications. Additionally
                        </p>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                            <ul>
                                <li>
                                    Any verbally agreed upon rates must be confirmed in a
                                    Rate Confirmation or other Electronic Communications.
                                    Notwithstanding anything to the contrary, whether in this
                                    Agreement, on a bill of lading, at law, or in any other
                                    writing, CARRIER’s released rates or values, stamped
                                    terms, and/or tariff rules or circulars related to rates or
                                    compensation shall not be valid.
                                </li>
                                <li>
                                    As a condition to payment, CARRIER shall submit
                                    complete and legible invoices, clean bills of lading, and
                                    signed loading or delivery receipts for all Services.
                                    CARRIER agrees that BROKER is the sole party
                                    responsible for payment of CARRIER’s invoices related to
                                    the Services and that, under no circumstances, will
                                    CARRIER contact or seek payment from any CUSTOMER
                                    or any other party responsible for any payment related to
                                    the Services. CARRIER waives any right to collect from
                                    CUSTOMERS, unless BROKER provides CARRIER with
                                    consent in a writing signed by a vice president or C-level
                                    officer of BROKER.
                                </li>
                                <li>
                                    BROKER and CARRIER shall use commercially reasonable efforts
                                    to verify the accuracy of all freight charge billings invoiced
                                    by BROKER to CUSTOMERS for the Services performed
                                    by CARRIER. BROKER shall have the right to audit, from
                                    time to time, CARRIER’s freight charges, and CARRIER
                                    shall fully cooperate with any audit.
                                    BROKER is not required to disclose its charges to
                                    CUSTOMERS, commissions, or brokerage revenue, and
                                    CARRIER waives its right to receive, audit, and/or review
                                    information and documents to be kept as provided in 49
                                    C.F.R. § 371.3.
                                </li>
                                <li>
                                    Except in the case of force majeure, CARRIER is
                                    responsible for any and all additional costs incurred by
                                    BROKER when replacement or cover Services are
                                    required arising out of CARRIER’s failure to perform the
                                    Services as agreed.
                                </li>
                                <li>
                                    CARRIER hereby expressly waives its right to any lien on any freight or other property of CUSTOMERS, except
                                    warehouseman lien rights that are exercised in strict compliance
                                    with this Agreement.
                                </li>
                                <li>
                                    In any claim by CARRIER against BROKER relating to this
                                    Agreement, BROKER’s liability shall be limited to the
                                    lesser of
                                    either (i) the freight costs for the particular load as confirmed in
                                    writing or (ii) direct damages, but shall not
                                    include
                                    consequential, incidental, special, or punitive damages.
                                </li>
                                <li>
                                    Notwithstanding any other provision in this Agreement to the
                                    contrary, BROKER may offset against CARRIER’s
                                    pending
                                    invoices for any amounts due to BROKER, including, without
                                    limitation, those arising from or related to cargo claims,
                                    CARRIER’S breach of this Agreement, or CARRIER’s
                                    indemnity obligations to BROKER or CUSTOMERS.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dd>
                        <dt>1.DOT SAFETY RATING.</dt>
                        <p>
                            CARRIER represents and warrants
                            that it does not have an “Unsatisfactory” safety rating issued by
                            the FMCSA, and shall notify BROKER in writing immediately if
                            its safety rating changes in any way, including, without
                            limitation, a change to an “Unsatisfactory,” “Conditional,” “Unfit,”
                            “Marginal,” or other negative rating. CARRIER shall
                            be responsible for any and all liability and damages asserted
                            against or imposed on BROKER or CUSTOMERS arising out
                            of CARRIER’s violation of this Section, including, without
                            limitation, attorneys’ fees, expert costs, and all other related
                            costs.
                        </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>2.INSURANCE. </dt>
                        <p>
                            At all times during the Term, CARRIER shall
                            maintain in effect the following types and amounts of insurance
                            coverage fromreliable insurance companies having an AM Best
                            rating of A-VII or better: Automobile (“Auto”) liability $1,000,000;
                            motor vehicle (including hired and non-owned vehicles)
                            $1,000,000 (or $5,000,000 per incident if
                            transporting hazardous materials), which includes coverage for
                            environmental damages and remediation arising out of the
                            release or discharge of hazardous substances; cargo
                            damage/loss $100,000; and workers’ compensation with limits
                            required by applicable state law. It is the sole responsibility of
                            CARRIER to ensure compliance with the above limits at all
                            times during the Term. All such insurance shall be written and be required to respond and pay prior to any other available
                            coverage of BROKER or CUSTOMERS. CARRIER shall also
                            comply with the following:
                        </p>
                    </dl>
                    <dl>
                        <dd>
                            <ul>
                                <li>
                                    Except as specified above, all insurance policies shall comply with the minimum requirements of the FMCSA and any other Laws. Insurance certificates furnished by CARRIER to BROKER are an affirmative representation by CARRIER that CARRIER complies with the insurance requirements set forth in this Agreement and all Laws.Nothing in this Agreement shall be construed to limit liability of the CARRIER to the insurance limits set forth above, nor shall any exclusion, declaration, or deductible amount in any insurance policy absolve CARRIER from financial liability for any loss or damage. It is CARRIER’s sole responsibility to abide by the terms and conditions of its insurance policies, and CARRIER shall indemnify, defend, and hold BROKER and CUSTOMERS harmless from any and all liability or claims that arise from or are related to CARRIER’s failure to maintain such coverage or abide by the terms and conditions of such policies.
                                </li>
                                <li>
                                    CARRIER shall furnish BROKER with a certificate of
                                    insurance, in a form satisfactory to BROKER, to prove that
                                    each coverage specified in this Section is in effect and
                                    properly maintained and that neither BROKER nor its
                                    CUSTOMERS are obligated to pay premiums for any such
                                    insurance. Each certificate of insurance shall name
                                    BROKER as certificate holder, additional insured, and loss
                                    payee, with a waiver of subrogation in favor of BROKER
                                    and CUSTOMERS. In addition, when available, CARRIER
                                    shall obtainan automatic additional insured endorsement
                                    which shall apply to BROKER. CARRIER must provide
                                    BROKER with at least 30 days advance notice prior to
                                    cancellation, change, or non-renewal.
                                </li>
                                <li>
                                    CARRIER shall pay all premiums and deductible
                                    amounts under any applicable insurance policies. Upon
                                    request by BROKER, CARRIER shall provide a complete
                                    copy of all applicable policies along with any exclusions,
                                    exemptions, or riders that are not depicted in the governing certificate of insurance. In addition, by signing
                                    this
                                    Agreement, CARRIER expressly grants BROKER the authority to
                                    obtain an actual copy of the policies in effect at the time of
                                    any
                                    directly from CARRIER’s insurance companies, and
                                    further authorizes its insurance companies to release to
                                    BROKER any and all of CARRIER’s insurance policies
                                    requested by BROKER. In the event any issues arise
                                    with respect to CARRIER’s insurance, CARRIER agrees
                                    to cooperate to the fullest extent possible with BROKER
                                    to obtain such information or facilitate communication.
                                    CARRIER grants BROKER the right to contact and
                                    communicate directly with its insurance companies to
                                    the fullest extent of CARRIER’s rights.
                                </li>
                                <li>
                                    CARRIER shall only utilize vehicles and drivers that
                                    are licensed, identified, and insured under CARRIER’s
                                    own name and insurance policies with the limits specified
                                    above. CARRIER is fully liable for any loss or damage not
                                    covered by insurance as a result of CARRIER’s failure to
                                    comply with this Section, and CARRIER agrees to
                                    indemnify, defend, and hold BROKER and CUSTOMERS
                                    harmless from and against any such loss or damage
                                    regardless of the vehicle or driver used on any shipment
                                    tendered to CARRIER by BROKER.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>1.HAZARDOUS MATERIAL.</dt>
                        <p>
                            If CARRIER accepts BROKER’s
                            or CUSTOMERS’ tender of a load to transport any shipment
                            required to be placarded under Laws for hazardous materials
                            (“Hazmat”), then the additional provisions in Appendix A,
                            including additional insurance requirements, shall also apply for
                            each and every Hazmat shipment.
                        </p>
                    </dl>
                    <dl>
                        <dt>2.CARGO LIABILITY AND CLAIMS. </dt>
                        <p>
                            CARRIER shall issue a
                            bill of lading, listing itself as the motor carrier, in compliance
                            with 49 U.S.C. §§ 8010116, 49 C.F.R. §§ 373.101-.105, .201
                            (and any amendments thereto), for the property it receives for
                            transportation under this Agreement.CARRIER is fully responsible and liable for the freight once in
                            possession of it, and the trailer(s) is loaded, even partially,
                            regardless of whether a bill of lading has been issued, signed,
                            or delivered to CARRIER. CARRIER’s responsibility and
                            liability shall continue until proper and timely delivery of the
                            shipment to the consignee and the consignee signs the bill of
                            lading or delivery receipt evidencing successful delivery. The
                            Parties also agree as follows:
                        </p>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                            <ul>
                                <li>
                                    Any terms of the bill of lading (including, without
                                    limitation,payment terms, limitations of liability, stamped
                                    terms, etc.) that are inconsistent with the terms of this
                                    Agreement shall be controlled by the terms of this
                                    Agreement.
                                    CARRIER’s failure to issue bill of lading or sign a bill of
                                    lading acknowledging receipt of the cargo shall not affect
                                    liability of CARRIER. Under no circumstance shall
                                    CARRIER execute a bill of lading or any other document
                                    which represents BROKER as the party responsible for
                                    the transportation or delivery of freight.
                                </li>
                                <li>
                                    If a consignee refuses a shipment or CARRIER is
                                    unable to deliver it for any reason, CARRIER’s liability
                                    as a warehouseman shall not begin until (i) CARRIER
                                    has provided BROKER with 24-hour prior written notice
                                    of request for direction and complied with those
                                    directions, or (ii) if no direction is received as provided in
                                    (i), CARRIER has placed the shipment in either a
                                    BROKER-approved public warehouse or in CARRIER’s
                                    storage facility utilizing reasonable security measures.
                                </li>
                                <li>
                                    CARRIER shall comply with 49 C.F.R. §§ 370.1-.11 and
                                    any amendments, applicable regulations adopted by the
                                    FMCSA, and/or any other Laws relating to processing freight
                                    loss and damage claims and salvage. In the event goods are
                                    compromised or otherwise damaged, BROKER or its
                                    CUSTOMER, in its sole reasonable discretion, may
                                    determine whether the goods are salvageable, and if
                                    salvageable, the value of the salvageable goods.
                                </li>
                                <li>
                                    Except as otherwise provided in this Agreement, all
                                    liability standards, time limitations, and burdens of proof
                                    regardless of whether the CARRIER has common or
                                    contract Operating Authority shall be governed by
                                    common law applicable to common carriers, federal
                                    transportation Laws, and by the Carmack Amendment
                                    codified in 49 U.S.C. § 14706, including on shipments that
                                    are exempt from such Laws such as intrastate shipments or
                                    shipments of exempt commodities. CARRIER agrees to
                                    accept notice of a claim in the form issued by BROKER,
                                    including, without limitation, by Electronic Communications.
                                </li>
                                <li>
                                    Notwithstanding the terms of 49 C.F.R. § 370.9,
                                    CARRIER shall acknowledge a claim within 30 days of
                                    receipt, and pay, decline, or make a settlement offer in
                                    writing on all cargo loss or damage claims within 60 days
                                    from the receipt of the claim. Failure of CARRIER to pay,
                                    decline, or offer settlement within this 60-day period shall
                                    be deemed an admission by CARRIER of full liability for
                                    the amount claimed and a breach of this Agreement.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>5. INDEPENDENT CONTRACTORS. </dt>
                        <p>
                            The relationship between
                            BROKER and
                            CARRIER shall, at all times, be that of independent
                            contractors. As independent contractors, the Parties
                            agree as follows:
                        </p>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                            <ul>
                                <li>
                                    No terms or conditions of this Agreement, or any act or
                                    omission of either Party shall be construed for any purpose to
                                    express or imply a joint venture, partnership, principal/agent,
                                    fiduciary, or employer/employee relationship between the
                                    Parties.
                                </li>
                                <li>
                                    CARRIER and any of its approved carriers or agents shall
                                    employ, pay, supervise, direct, discipline, discharge, and
                                    assume full responsibilityand control over all persons required
                                    for CARRIER’s performance of the
                                    Services. BROKER has no right to discipline or direct the
                                    performance of any driver and/or employee, contractor,
                                    subcontractor, or agent of CARRIER. Under no circumstances
                                    shall CARRIER or any of its approved carriers, agents, or
                                    employees be deemed to be or hold themselves out as
                                    employees of BROKER or CUSTOMERS.
                                </li>
                                <li>
                                    CARRIER and BROKER agree that safe and legal operation of
                                    the CARRIER and its drivers shall completely and without question governand supersede any service requests, demands,
                                    preferences, instructions, or information from BROKER or
                                    CUSTOMER’s with respect to any shipment at any time.
                                </li>
                                <li>
                                    CARRIER agrees that a CUSTOMER’s insertion of BROKER’S
                                    name as the carrier on a bill of lading is without authorization
                                    and in error and shall be for the CUSTOMER’s convenience
                                    only and shall not change BROKER’S status or liability as a
                                    property broker only, nor CARRIER’s status or obligations as a
                                    motor carrier.
                                </li>
                                <li>
                                    CARRIER agrees that any driving directions or routing
                                    instructions to or from a CUSTOMER’s location given by
                                    BROKER are for informational purposes only. It is CARRIER’s
                                    sole responsibility to ensure thedirections are appropriate with
                                    regard to equipment, route, protection and securement of the
                                    cargo, and safe operation of the vehicle(s), and CARRIER
                                    assumes and is fully and exclusively responsible and liable for
                                    the route CARRIER actually takes while performing Services.
                                </li>
                                <li>
                                    CARRIER assumes all liability and agrees that it is fully and
                                    exclusively for any and all contributions, benefits, taxes, and
                                    any other payments which might be expected in an employer-employee relationships, whichincludes, without limitation, the
                                    payment of the following items: any and all taxes under Laws
                                    (including payroll taxes), taxes for unemployment insurance,
                                    pensions, workers’ compensation, and social security for each
                                    and every person engaged in CARRIER’s performance of the
                                    Services. BROKER is not liable for any obligations specified
                                    above and CARRIER shall
                                    indemnify, defend, and hold BROKER or CUSTOMERS
                                    for any such obligations.
                                </li>
                                <li>
                                    CARRIER agrees that BROKER may, in BROKER’s sole
                                    discretion, track any or all shipments with or without
                                    CARRIER’s knowledge by electronic tracking or otherwise.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>6. INDEMNIFICATION.</dt>
                        <p>
                            CARRIER agrees to defend, indemnify,
                            and hold BORKER and CUSTOMERS harmless from and
                            against any and all claims or liability (including, without limitation,
                            Workers’ Compensation claims), arising out of or in any way
                            related to CARRIER’s negligence, willful misconduct, acts,
                            omissions, or performance or failure to perform under this
                            Agreement, including, without limitation, claims or liability for
                            cargo loss and damage, theft, delay, damage to property, and bodily injuryand/or death. Except for Workers’ Compensation
                            claims, CARRIER shall not be required to indemnify any party
                            (including BROKER) for claims or liability that are directly and
                            solely caused by the negligence or willful misconduct of that
                            party.
                        </p>
                    </dl>
                    <dl>
                        <dt>7. BROKER’S ACCOUNTS.</dt>
                        <p>
                            CARRIER agrees to treat all
                            BROKER’s CUSTOMERS as BROKER’s accounts during the
                            Term, making no contact with CUSTOMERS except the
                            minimum level of contact necessary to perform the Services. If
                            this Agreement is terminated for any reason, CARRIER shall not
                            solicit freight or provide transportation services to any
                            CUSTOMERS for a period of 12 months after the termination
                            date of this Agreement. If CARRIER solicits freight or provides
                            transportation services to any CUSTOMERS in violation of this
                            Section, then, in addition to any other remedies available under
                            the law (including punitive damages), CARRIER shall also be
                            liable to BROKER for all costs and expenses incurred to enforce
                            this Section, including, without limitation, court costs and
                            attorneys’ fees. This Section shall not apply to CUSTOMERS for
                            whom CARRIER has (without the assistance of, introduction
                            by, or involvement in any way of BROKER) performed
                            transportation services in the twelve (12) months immediately
                            preceding the Effective Date, which must be proved in writing.

                        </p>
                    </dl>
                    <dl>
                        <dt>
                            8. CO-BROKERING.</dt>
                        <p>
                            CARRIER is prohibited from brokering,
                            re-brokering, co-brokering, subcontracting, transferring, trip
                            leasing, assigning, or interlining the transportation of
                            shipments to any other person or entity conducting business
                            under an operating authority different from
                            CARRIER’s Operating Authority without advance written
                            authorization from BROKER. If BROKER becomes aware of
                            such prohibited activity by CARRIER prior to payment of any
                            compensation otherwise due CARRIER, then BROKER may
                            withhold payment to CARRIER and instead pay appropriate
                            compensation to the motor carrier that actually transported the
                            shipment. Any subcontracting or brokering of any shipment by
                            CARRIER to any third party shall be deemed an assignment of
                            CARRIER’s right to be compensated for that shipment to the
                            third party. Upon BROKER’s payment to delivering carrier, CARRIER shall not be released from any liability to BROKER
                            under this Agreement. CARRIER will be liable for any and all
                            losses or damages (including reasonable attorney’s fees and
                            costs) for violation of this Section.
                        </p>
                    </dl>
                    <dl>
                        <dt>9. WAIVER AND DISCHARGE.</dt>
                        <p>
                            The failure of either Party to
                            enforce any provision of this Agreement shall not be construed
                            as a waiver of such provision or the waiver of the right of either
                            Party to enforce such provision in the future or in any way to
                            affect the validity of this Agreement or any part of this
                            Agreement. To the extent that terms and conditions in this
                            Agreement are inconsistent with Part (b), Subtitle IV of Title 49
                            U.S.C. (ICC Termination Act of 1995)(the “Act”), the Parties
                            expressly waive any or all rights and remedies they may have
                            under the Act.

                        </p>
                    </dl>
                    <dl>
                        <dt>10. NOTICES.</dt>
                        <p>
                            All notices required or permitted under this
                            Agreement shall be in writing, signed by or on behalf of the
                            Party giving the notice, and sentto the other Party at its main
                            office listed above via certified U.S. Mail, overnight courier with
                            delivery receipt, or facsimile with machine printed proof of
                            delivery.
                        </p>
                    </dl>
                    <dl>
                        <dt>11. GOVERNING LAW.</dt>
                        <p>
                            This Agreement shall be governed by the
                            laws of the State of Ohio, except to the extent that federal
                            transportation laws and regulations preempt those laws, without
                            giving effect to conflict of law provisions which would result in
                            the application of any law other than Ohio law. The Parties
                            consent to the jurisdiction of the state court located in Clermont
                            County, Ohio, waive any objection to the jurisdiction of that court,
                            and agree that any dispute between the Parties, including,
                            without limitation, those arising under or related to this
                            Agreement, shall be brought in that court, which shall have
                            exclusive jurisdiction over such dispute. The prevailing Party in
                            any lawsuit between the Parties shall be entitled to all
                            reasonable expenses, attorneys’ fees, and costs (including court
                            costs).
                        </p>
                    </dl>
                    <dl>
                        <dt>12. ENTIRE AGREEMENT. </dt>
                        <p>
                            This Agreement constitutes the entire
                            agreement between the Parties. The Parties further intend that
                            this Agreement constitutes the complete and exclusive
                            statement of its terms, and no extrinsic evidence may be introduced to reform or change this Agreement in any judicial
                            or equitable proceeding arising out of this Agreement. Any
                            changes to this Agreement must be in a writing executed by
                            both Parties.
                        </p>
                    </dl>
                    <dl>
                        <dt>13. INVALIDITY OF PROVISIONS / SEVERABILITY.</dt>
                        <p>
                            Whenever
                            possible, each provision of this Agreement will be interpreted
                            in such manner as to be effective and valid under applicable
                            law, but if any provision of this Agreement is held to be invalid,
                            illegal, or unenforceable in any respect
                            under any applicable law or rule in any jurisdiction, such
                            invalidity, illegality, or unenforceability will not affect any other
                            provision or the effectiveness or validity of any provision in any
                            other jurisdiction, and this Agreement will be reformed,
                            construed, and enforced in such a manner as to make such
                            provision valid, legal, or enforceable.
                        </p>
                    </dl>
                    <dl>
                        <dt>14. ASSIGNMENT AND DELEGATION. </dt>
                        <p>
                            This Agreement shall inure
                            to the benefit of and be binding upon the successors and
                            assigns of bothParties. Notwithstanding anything to the contrary
                            in this Agreement, BROKER may assign this Agreement,
                            whether in whole or part, without notice to or consent of
                            CARRIER, to any entity which controls, is controlled by, or is
                            under common control with BROKER or which acquires all or
                            substantially all of the assets or ownership interests of
                            BROKER, provided that said assignee assumes, in full, the
                            obligations of BROKER under this Agreement.
                        </p>
                        <p>
                            <strong>FACTORING.</strong>CARRIER shall provide BROKER written notice of any
                            assignment, factoring, amendment, or other transfer of its right to
                            receive payment arising under this Agreement (“Pay Assignment”) at
                            least thirty (30) days prior to the effective date of such Pay
                            Assignment, which may affect BROKER’s payment obligations.
                            BROKER is not obligated to honor any Pay Assignment unless such
                            notice is proper and timely received. At minimum, each written notice
                            shall include the name and address of the factoring company,
                            assignee, or transferee; date signed; date Pay Assignment is to
                            begin; and the terms of the Pay Assignment. Notice is considered
                            delivered upon receipt of written notice by BROKER. BROKER shall
                            have the right to ask for, and CARRIER shall be obligated to furnish, any further documentation BROKER requires in order to satisfy
                            BROKER as to the authenticity and requirements of the Pay
                            Assignment. BROKER’s payment obligations shall not be subject to
                            more than one Pay Assignment at any one time. Any and all Pay
                            Assignments are taken subject to all the terms of this Agreement
                            regardless of when or if BROKER receives a notice of Pay Assignment. CARRIER shall
                            indemnify, defend, and hold BROKER and CUSTOMERS harmless
                            from and against any and all lawsuits, claims, actions, and damages
                            (including reasonable attorneys’ fees, costs, liabilities, and liens)
                            arising from, imposed upon BROKER in connection with, or in any way
                            related to any Pay Assignment. If CARRIER wants to terminate a Pay
                            Assignment, a written release from the CARRIER and the Pay
                            Assignment’s assignee, in a form satisfactory to BROKER’s counsel,
                            must be received by BROKER specifying the terms and date of
                            release. If CARRIER fails to comply with any one of the requirements
                            of this Section, then CARRIER releases and waives any and all right,
                            claim, or action against BROKER and CUSTOMERS for any amount
                            due and owing under this Agreement.
                        </p>
                    </dl>
                    <dl>
                        <dt>20. ELECTRONIC COMMUNICATIONS.</dt>
                        <p>The following terms apply to 
						 any and all Electronic Communication (defined below) with BROKER:</p>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                            <ul>
                                <li>During the Term, the Parties anticipate that they will exchange 
                                    materials and information in electronic form, including,without
                                    limitation, through websites, e-mail, fax, text messaging, mobile 
                                    apps, and other electronic means (collectively “Electronic 
                                    Communications”), and each Party consents to receiving
                                    Electronic Communications related to the Services.
                                </li>
                                <li>
                                    Under no circumstances will BROKER be liable for, and CARRIER
                                    hereby expressly waives and releases BROKER from, any liability
                                    for any loss or damage caused by computer viruses, Trojans,
                                    worms, or similar programs.
                                        
                                </li>
                                <li>
                                    Electronic Communications may contain information that is
                                    confidential and subject to legal privilege. Such
                                    Electronic
                                    Communications are intended solely for the individual or entity
                                    to whom it is addressed and to others who have the authority to
                                    receive it, and CARRIER may not, under any
                                    circumstances, disclose, copy, or distribute the information without BROKER’s written consent.

                                </li>
                                <li>
                                    BROKER does not make any representation regarding any links
                                    and does not endorse the products or services that may be
                                    offered from or through any link. BROKER accepts no
                                    responsibility for the content or use of information contained in
                                    any link.

                                </li>
                                <li>
                                    Unless otherwise noted, Electronic Communications are subject
                                    to intellectual property rights of BROKER. Use of the content
                                    in web pages, electronic or written publications, smartphone
                                    applications, or any other media and/or words, phrases,
                                    names, designs, or logos that are BROKER’s trademarks are
                                    prohibited without the express written permission of BROKER.


                                </li>
                                <li>
                                    BROKER disclaims all implied warranties, including, without
                                    limitation, warranties of compatibility, security, and accuracy,
                                    and BROKER will not be liable for any special, indirect,
                                    consequential, or punitive damages of any kind arising out of the
                                    use of Electronic Communications by CARRIER.
                                </li>
                                <li>
                                    By providing an email address to BROKER, CARRIER is
                                    expressly optingin to BROKER’s promotional email distribution
                                    list. CARRIER can opt-out at any time by contacting BROKER
                                    via telephone, email, or mail.

                                </li>
                                <li>
                                    CARRIER understands that all calls to or from BROKER may be
                                    recorded, and CARRIER consents to being recorded during any
                                    and all calls with BROKER. CARRIER waives and releases
                                    BROKER from any liability or claim related to calls with
                                    BROKER being recorded, and waives any right to obtain a copy
                                    of such recording to the extent any such right exists under the
                                    law.

                                    circumstances, disclose, copy, or distribute the
                                    information without BROKER’s written consent.

                                </li>
                                <li>
                                    BROKER does not make any representation regarding any links
                                    and does not endorse the products or services that may be
                                    offered from or through any link. BROKER accepts no
                                    responsibility for the content or use of information contained in any link.

                                </li>
                                <li>
                                    Unless otherwise noted, Electronic Communications are subject
                                    to intellectual property rights of BROKER. Use of the content
                                    in web pages, electronic or written publications, smartphone
                                    applications, or any other media and/or words, phrases,
                                    names, designs, or logos that are BROKER’s trademarks are
                                    prohibited without the express written permission of BROKER.
                                </li>
                                <li>
                                    BROKER disclaims all implied warranties, including, without
                                    limitation, warranties of compatibility, security, and accuracy,
                                    and BROKER will not be liable for any special, indirect,
                                    consequential, or punitive damages of any kind arising out of the
                                    use of Electronic Communications by CARRIER.
                                </li>
                                <li>
                                    By providing an email address to BROKER, CARRIER is
                                    expressly optingin to BROKER’s promotional email distribution
                                    list. CARRIER can opt-out at any time by contacting BROKER
                                    via telephone, email, or mail.

                                </li>
                                <li>
                                    CARRIER understands that all calls to or from BROKER may be
                                    recorded, and CARRIER consents to being recorded during any
                                    and all calls with BROKER. CARRIER waives and releases
                                    BROKER from any liability or claim related to calls with
                                    BROKER being recorded, and waives any right to obtain a copy
                                    of such recording to the extent any such right exists under the
                                    law.


                                    pickup, until the shipment is no longer in CARRIER’s
                                    possession or control at delivery.
                                </li>
                                <li>
                                    If any payment for lumper services (loading/unloading) is agreed
                                    upon between BROKER and CARRIER, CARRIER
                                    must supply
                                    a legible unloading receipt with lumper’s full name, address, and
                                    contact information accompanied by the BROKER’s
                                    authorization number assigned to this particular load. Unless
                                    CARRIER provides this information within 24 hours of delivery,
                                    CARRIER will not be reimbursed for lumper costs.

                                </li>
                                <li>
                                    For all pallet exchange loads, the number of pallets in and out
                                    must be clearly notated on the original bill of lading.

                                </li>
                                <li>
                                    All loads tendered to CARRIER require exclusive use of trailer
                                    space solely for the freight related to that particular
                                    load, unless
                                    otherwise agreed in writing with BROKER. CARRIER assumes
                                    all liability, including, without limitation,
                                    any costs incurred by
                                    BROKER, caused by CARRIER loading any unauthorized freight
                                    on a load.

                                </li>
                                <li>
                                    Any costs incurred by BROKER due to CARRIER being late for
                                    pick-up or delivery appointments may be charged to
                                    CARRIER.
                                </li>
                                <li>
                                    Any product which must be disposed of must have prior consent
                                    from BROKER before being disposed of by any
                                    party. If a load
                                    is disposed of without prior written consent from BROKER,
                                    CARRIER is liable for the entire value of the load, plus any other
                                    associated damages. CARRIER is required to remit to BROKER
                                    any funds received from salvage and/or insurance.
                                </li>
                                <li>
                                    Before loading begins, CARRIER’s driver must have a sufficient
                                    number of load locks or other suitable cargo securing devices
                                    to secure the load.

                                </li>
                                <li>
                                    Loads that are sealed at the shipping point are to remain sealed
                                    until an authorized person at the receiver breaks the seal. If the
                                    seal is broken by an unauthorized person, CARRIER shall be
                                    fully liable for the greater of either (i) the invoice amount to
                                    CUSTOMER or (ii) the cost of the product. In addition,
                                    CARRIER shall also be liable for any other expenses arising
                                    from or related to the unauthorized removal of the seal.

                                </li>
                                <li>
                                    CARRIER shall provide a trailer that is in sound mechanical and
                                    structural condition, and is clean, dry, free of defects, and
                                    suitable in all respects to accept, load, and transport the
                                    shipment.

                                </li>
                                <li>
                                    CARRIER shall not, unless expressly authorized to do so by
                                    BROKER, contact or communicate directly with CUSTOMER.
                                    This includes CARRIER’s agents, representatives, heirs, or
                                    assigns. This Section 22(m) shall not prohibit communication
                                    with dock workers, as long as such communication is limited to
                                    the minimum amount of communication necessary to perform
                                    the Services for that load.

                                </li>
                                <li>
                                    CARRIER’s drivers shall not, under any circumstances, use a
                                    cellular phone, whether by talking, texting, or otherwise, while operating a vehicle related to the Services.
                                </li>
                                <li>
                                    At all times, CARRIER shall use proper, working equipment
                                    acceptable to CUSTOMER, train its personnel in sanitary
                                    transportation practices and document all training, maintain all
                                    necessary records, abide by all Laws, and follow all protocols
                                    communicated to CARRIER when transporting human and/or
                                    animal food.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>21. CARRIER DUTIES FOR REFRIGERATED LOADS.</dt>
                        <p>
                            In order to
                            fulfill CUSTOMERS’ delivery and tracking requests, if CARRIER
                            accepts BROKER’s tender of a refrigerated load, then CARRIER
                            agrees as follows: (These duties are in addition to the General Carrier
                            Duties listed above)
                        </p>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd>
                            <ul>
                                <li>
                                    Prior to loading, CARRIER shall confirm that the reefer unit is
                                    working properly and pre-cool trailer to the temperature

                                    specified on BROKER’s Rate Confirmation. The temperature on
                                    BROKER’s Rate Confirmation will be in Fahrenheit unless
                                    otherwise specified in writing. CARRIER must strictly adhere to
                                    the temperature listed on the Rate Confirmation and shall make
                                    sure the temperature pulped for the product at loading is
                                    reflected on the bill of lading.

                                </li>
                                <li>
                                    Trailers hauling refrigerated loads are required to have a properly
                                    functioning air chute for circulation. It is CARRIER’s
                                    responsibility to make sure the chute is not damaged,
                                    obstructed, blocked, or malfunctioning in any way. It is
                                    CARRIER’s sole responsibility to make sure sufficient space is
                                    provided for air circulation in front, rear, top, bottom, and
                                    between the load.

                                </li>
                                <li>
                                    CARRIER shall check pulp temperature of the product to ensure
                                    that product has been pre-cooled to the proper temperature
                                    prior to loading. CARRIER shall not accept any product with a
                                    pulp temperature that is more than 2 degrees above or below
                                    the specified temperature noted on BROKER’s Rate
                                    Confirmation. If the temperature on BROKER’s Rate
                                    Confirmation differs from that on the bill of lading, CARRIER
                                    shall call BROKER before signing the bill of lading or
                                    transporting the freight. If CARRIER loads or otherwise
                                    accepts freight contrary to the terms on BROKER’s Rate Confirmation or applicable bill of lading, CARRIER is liable for
                                    any and all loss or damage arising from or related to such
                                    acceptance.
                                </li>
                                <li>
                                    By signing the bill of lading, CARRIER is confirming that the correct
                                    product and correct product count were received at the proper
                                    temperature.
                                    CARRIER is solely responsible for cargo loss or damage
                                    incurred related to discrepancies in product information
                                    between the bill of lading, Rate
                                    Confirmation, and the actual product. If a discrepancy as to
                                    count, condition, or temperature is encountered, CARRIER
                                    shall immediately notify BROKER, and no change to loading
                                    information shall be made until confirmed in writing by
                                    BROKER.
                                </li>
                                <li>
                                    CARRIER shall continuously maintain the
                                    temperature noted on BROKER’s Rate Confirmation
                                    from pickup at
                                    . shipper until delivery at receiver. CARRIER shall not, at any
                                    time, set reefer on start/stop, cycle, or any other non-continuous temperature setting unless otherwise notified in
                                    writing by BROKER. CARRIER shall contact BROKER
                                    immediately in the event of any problems including, without
                                    limitation, out-of-temperature condition, equipment
                                    malfunction, accident, or delay.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt>24. SURVIVAL.  </dt>
                        <p>
                            The terms and conditions of this Agreement
                            which contemplate the need for performance after the expiration
                            or termination of this Agreement, which includes, without
                            limitation, provisions regarding indemnification, solicitation of
                            CUSTOMERS, attorneys’ fees, cargo liability, claims
                            processing, and compensation for Services performed prior to
                            termination, shall survive any such expiration or termination of
                            this Agreement.
                        </p>
                    </dl>
                    <dl>
                        <dt>25. RECITAL PARAGRAPHS / HEADINGS.  </dt>
                        <p>
                            The statements in
                            the recital paragraphs at the beginning of this Agreement are
                            true and correct and may be relied upon in this Agreement.
                            However, the Section headings in this Agreement are for
                            convenience only and shall not be used to interpret this
                            Agreement.
                        </p>
                    </dl>
                    <dl>
                        <dt>26. COUNTERPARTS.  </dt>
                        <p>This Agreement may be executed in any number of counterparts and by the Parties in separate 
                     counterparts, and may be exchanged by Electronic 
                     Communications. Each executed counterpart shall be deemed 
                     to be an original and all of which together shall constitute one 
                     and the same agreement. CARRIER’s execution of the 
                     signaturepage and return of that page to BROKER, shall be 
                     evidence that CARRIER has
                     agreed to all of the terms and conditions of this Agreement 
                     without change or modification.</p>
                    </dl>
                    <div class="info-time-satus">
                        <div class="full-box">
                            <center>
                                <h4>iV. EFFECTIVE DATE AND</h4>
                                <h4>TERMINATION</h4>
                            </center>
                            <div class="info-time-itembox">
                                <p>
                                    This AGREEMENT is to become effective<input asp-for="BCASignDate" type="text" id="BCASignDate" style="width:60px;" />, <input type="text" id="BCASignYear" asp-for="BCASignYear" style="width: 50px;" />and shall
                                    remain in effect for a period of one year from such date, and from year to
                                    year thereafter, subject to the right of either party hereto to cancel or
                                    terminate the AGREEMENT at any time upon not less than thirty (30) days
                                    written notice of one party to the other.
                                </p>
                            </div>
                        </div><br />
                        <div class="full-box">
                            <center>
                                <h4>V. GOVERNING BODY</h4>
                            </center>
                            <div class="info-time-itembox">
                                <p>
                                    This AGREEMENT shall be governed by the Surface Transportation Act (49
                                    USC 13101 et. seq.) where applicable and otherwise by the laws of the State
                                    of <strong>Texas.</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <p><strong> Freight Connect Logistics Carrier: </strong><input type="text" asp-for="CarrierBy" id="CarrierBy" /><strong> Authorized Party: </strong><input type="text" asp-for="CarrierBy" id="CarrierBy" /></p>      
                </main>
                <footer class="carrier-footer-area">
                    <a href="https://www.freightconnectlogistics.com/">https://www.freightconnectlogistics.com/</a>
                </footer>
            </div>
        </div>
    </main>
</body>
</html>
